@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .background-light900_dark100 {
    @apply bg-light-900 dark:bg-dark-100;
  }
  .background-dark100_light900 {
    @apply bg-dark-100 dark:bg-light-900;
  }
  .background-light850_dark200 {
    @apply bg-light-850 dark:bg-dark-200 !important;
  }

  .background-light700_dark400 {
    @apply bg-light-700 dark:bg-dark-400 !important;
  }

  .background-light900_dark400 {
    @apply bg-light-900 dark:bg-dark-400;
  }

  .background-light800_dark200-search {
    @apply bg-light-800 dark:bg-dark-200;
    --tw-bg-opacity: 0.5;
    background-color: rgb(240 240 240 / var(--tw-bg-opacity));
  }

  .dark .background-light800_dark200-search {
    --tw-bg-opacity: 0.2;
    background-color: rgb(19 19 19 / var(--tw-bg-opacity));
  }

  .background-light800_dark200 {
    @apply bg-light-800 dark:bg-dark-200;
  }

  .background-light800_dark500 {
    @apply bg-light-800 dark:bg-dark-500 !important;
  }

  .background-light500_dark200 {
    @apply bg-light-500 dark:bg-dark-200;
  }

  .background-light900_dark200 {
    @apply bg-light-900 dark:bg-dark-200 !important;
  }

  .background-light500_dark500 {
    @apply bg-light-500 dark:bg-dark-500;
  }

  .background-light800_dark400 {
    @apply bg-light-800 dark:bg-dark-400;
  }

  .background-light700_dark200 {
    @apply bg-light-700 dark:bg-dark-200;
  }

  .background-light500_dark300 {
    @apply bg-light-500 dark:bg-dark-300;
  }

  .background-dark500_light900 {
    @apply bg-dark-500 dark:bg-light-900;
  }

  .background-light500_dark400 {
    @apply bg-light-500 dark:bg-dark-400;
  }

  .background-light700_dark500 {
    @apply bg-light-700 dark:bg-dark-500;
  }

  .background-light700_dark300 {
    @apply bg-light-700 dark:bg-dark-300;
  }

  .background-light600_dark400 {
    @apply bg-light-600 dark:bg-dark-400;
  }

  .background-dark600_light600 {
    @apply bg-dark-600 dark:bg-light-600;
  }

  .text-dark100_light900 {
    @apply text-dark-100 dark:text-light-900;
  }

  .text-dark600_light600 {
    @apply text-dark-600 dark:text-light-600;
  }

  .text-dark600_light500 {
    @apply text-dark-600 dark:text-light-500;
  }

  .text-light600_dark600 {
    @apply text-light-600 dark:text-dark-600;
  }

  .text-dark300_light800 {
    @apply text-dark-300 dark:text-light-800;
  }

  .border-dark600_light600 {
    @apply border-dark-600 dark:border-light-600;
  }

  .border-light500_dark400 {
    @apply border-light-500 dark:border-dark-400;
  }

  .border-custom {
    @apply border-none !important;
  }

  .h1-bold {
    @apply text-[36px] font-bold leading-[42px] tracking-tighter;
  }

  .h2-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }

  .h2-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }

  .h2-medium {
    @apply text-[24px] font-medium leading-[31.2px];
  }

  .h3-medium {
    @apply text-[20px] font-medium leading-[26px];
  }

  .h3-semibold {
    @apply text-[20px] font-semibold leading-[24.8px];
  }

  .base-medium {
    @apply text-[18px] font-medium leading-[25.2px];
  }

  .base-semibold {
    @apply text-[18px] font-semibold leading-[25.2px];
  }

  .base-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .base-regular {
    @apply text-[18px] font-normal leading-[140%];
  }

  .paragraph-bold {
    @apply text-[16px] font-bold leading-[22.4px];
  }

  .paragraph-regular {
    @apply text-[16px] font-normal leading-[22.4px];
  }

  .paragraph-medium {
    @apply text-[16px] font-medium leading-[22.4px];
  }

  .paragraph-semibold {
    @apply text-[16px] font-semibold leading-[20.8px];
  }

  .paragraph-light {
    @apply text-[16px] font-light leading-[20.8px] !important;
  }

  .paragraph-15-regular {
    @apply text-[15px] font-normal leading-[22.4px];
  }

  .paragraph-15-medium {
    @apply text-[15px] font-medium leading-[22.4px];
  }

  .paragraph-15-semibold {
    @apply text-[15px] font-semibold leading-[20.8px];
  }

  .paragraph-15-light {
    @apply text-[15px] font-light leading-[22.4px];
  }

  .body-light {
    @apply text-[14px] font-light leading-[19.6px];
  }

  .body-regular {
    @apply text-[14px] font-normal leading-[19.6px];
  }

  .body-medium {
    @apply text-[14px] font-medium leading-[18.2px];
  }

  .body-semibold {
    @apply text-[14px] font-semibold leading-[18.2px];
  }

  .small-regular {
    @apply text-[12px] font-normal leading-[15.6px];
  }

  .small-medium {
    @apply text-[12px] font-medium leading-[15.6px];
  }

  .small-semibold {
    @apply text-[12px] font-semibold leading-[15.6px];
  }

  .small-light {
    @apply text-[12px] font-light;
  }

  .small-bold-custom {
    @apply text-[12px] font-bold leading-[15.6px];
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .small-custom {
    @apply text-[12px] leading-[15.6px];
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .small-bold {
    @apply text-[12px] font-bold leading-[15.6px];
  }

  .small-11-regular {
    @apply text-[11px] leading-[15.6px];
  }

  .small-11-medium {
    @apply text-[11px] font-medium leading-[15.6px];
  }

  .small-11-semibold {
    @apply text-[11px] font-semibold leading-[15.6px];
  }

  .small-11-bold {
    @apply text-[11px] font-bold leading-[15.6px];
  }

  .subtle-medium {
    @apply text-[10px] font-medium leading-[13px] !important;
  }
  .subtle-bold {
    @apply text-[10px] font-bold leading-[13px] !important;
  }

  .subtle-regular {
    @apply text-[10px] font-normal leading-[13px];
  }

  .subtle-light {
    @apply text-[10px] font-light leading-[13px];
  }

  .placeholder {
    @apply placeholder:text-light-500 dark:placeholder:text-dark-100;
  }

  .shadow-light100_dark100 {
    @apply shadow-light-100 dark:shadow-dark-100;
  }

  .shadow-light100_darknone {
    @apply shadow-light-100 dark:shadow-none;
  }

  .primary-gradient {
    background: linear-gradient(129deg, #f57206 0%, #f57206 100%);
  }

  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(23, 28, 35, 0.41) 0%,
      rgba(19, 22, 28, 0.7) 100%
    );
  }

  .emoji-picker-wrapper {
    position: absolute;
    bottom: 40px;
    right: 0;
    z-index: 10;
  }

  .emoji-picker-react {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .underline {
    text-decoration: underline;
  }

  .transition-all {
    transition: all 0.3s ease-in-out;
  }

  .scrollable {
    scrollbar-width: none; /* Ẩn thanh cuộn trong Firefox */
  }

  .scrollable::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn trong Chrome, Safari, và Opera */
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }

  .modal-overlay-post {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 30, 33, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }

  /* Các lớp Tailwind CSS sẽ được áp dụng trực tiếp vào JSX */
  .dot {
    @apply inline-block w-[6px] h-[6px] rounded-full background-dark100_light900;
    animation: finger-1-animation-span 1.5s infinite ease-out;
  }

  @keyframes finger-1-animation-span {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  /* Áp dụng hiệu ứng delay cho từng dấu chấm */
  .dot:nth-child(1) {
    animation-delay: 0s;
  }

  .dot:nth-child(2) {
    animation-delay: 0.3s;
  }

  .dot:nth-child(3) {
    animation-delay: 0.6s;
  }

  .chewy-regular {
    font-family: "Chewy", system-ui;
    font-style: normal;
  }

  .responsive-sidebar {
    display: none;
    @media (min-width: 993px) {
      display: flex;
    }
  }

  .responsive-moreAction {
    padding-left: 28px;
    padding-right: 28px;

    @media (min-width: 496px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (min-width: 500px) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media (min-width: 560px) {
      padding-left: 80px;
      padding-right: 80px;
    }

    @media (min-width: 640px) {
      padding-left: 100px;
      padding-right: 100px;
    }

    @media (min-width: 700px) {
      padding-left: 120px;
      padding-right: 120px;
    }

    @media (min-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: 992px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .responsive-left-mess {
    @media (min-width: 992px) {
      width: 28%;
    }
  }

  .responsive-friend-vertical {
    width: 130px;
    height: 128px;
  }
  @media (min-width: 550px) {
    .responsive-friend-vertical {
      width: 170px;
      height: 158px;
    }
  }
  @media (min-width: 600px) {
    .responsive-friend-vertical {
      width: 180px;
      height: 168px;
    }
  }
  @media (min-width: 670px) {
    .responsive-friend-vertical {
      width: 140px;
      height: 138px;
    }
  }
  @media (min-width: 768px) {
    .responsive-friend-vertical {
      width: 172px;
      height: 166px;
    }
  }
  @media (min-width: 800px) {
    .responsive-friend-vertical {
      width: 190px;
      height: 176px;
    }
  }
  @media (min-width: 900px) {
    .responsive-friend-vertical {
      width: 200px;
      height: 186px;
    }
  }
  @media (min-width: 1024px) {
    .responsive-friend-vertical {
      width: 140px;
      height: 126px;
    }
  }
  @media (min-width: 1280px) {
    .responsive-friend-vertical {
      width: 170px;
      height: 170px;
    }
  }

  .responsive-right-padding {
    padding-left: 8px;
    @media (min-width: 900px) {
      padding-left: 16px;
    }
  }

  /*React message*/
  .segment-mess {
    position: relative;
  }

  .segment-mess .heart-icon {
    position: absolute;
    bottom: -18px;
    right: 6px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s;
  }

  .segment-mess.pb-6 .heart-icon {
    visibility: visible;
    opacity: 1;
  }

  /* Message box */
  .message-container {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .message-container-enter {
    transform: translateY(-20px);
    opacity: 0;
  }

  .message-container-enter-active {
    transform: translateY(0);
    opacity: 1;
  }

  .message-container-exit {
    transform: translateY(0);
    opacity: 1;
  }

  .message-container-exit-active {
    transform: translateY(20px);
    opacity: 0;
  }

  /* Map layout */
  body {
    margin: 0;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
    z-index: 10;
  }
  #map > * {
    margin: 16px; /* Áp dụng khoảng cách cho tất cả các phần tử con */
  }

  .modal-overlay-map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  /* Popup */
  .custom-leaflet-popup .leaflet-popup-content-wrapper {
    background-color: #f57206;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 4px;
    box-shadow: none;
  }
  .custom-leaflet-popup .leaflet-popup-tip {
    background-color: #f57206; /* bg-primary-500 */
  }
  .custom-leaflet-popup .leaflet-popup-close-button span {
    color: #ffffff;
  }

  .custom-leaflet-popup-bff .leaflet-popup-content-wrapper {
    background-color: #fcede0;
    color: #f57206;
    border-radius: 0.5rem;
    padding: 4px;
    box-shadow: none;
  }
  .custom-leaflet-popup-bff .leaflet-popup-tip {
    background-color: #fcede0; /* bg-primary-500 */
  }
  .custom-leaflet-popup-bff .leaflet-popup-close-button span {
    color: #f57206;
  }

  /* Image */
  .custom-marker-icon {
    border-radius: 50%; /* Làm hình tròn */
    overflow: hidden; /* Ẩn các phần ngoài vùng tròn */
    width: 40px; /* Kích thước hình tròn */
    height: 40px; /* Kích thước hình tròn */
  }
  .custom-marker-icon {
    border-radius: 50%; /* Làm hình tròn */
    overflow: hidden; /* Ẩn các phần ngoài vùng tròn */
    width: 40px; /* Kích thước hình tròn */
    height: 40px; /* Kích thước hình tròn */
  }
}
